.ant-btn {
  margin-right: 8px;
}
.ant-checkbox-checked .ant-checkbox-inner .ant-checkbox-i {
  background-color: red;
  border-color: red;
}
.ant-comment-avatar {
  margin-left: 12px;
}
.ant-comment-me {
  background-color: #f0f2f5;
}
.ant-comment-me .ant-comment-avatar {
  margin-left: 30px;
}
.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
  overflow-y: scroll;
  overflow-x: hidden;
}
.ant-menu-item-disabled {
  cursor: default;
}

/*
  공통 클래스
*/
.cf:after {
  display: block;
  content: '';
  clear: both;
}
.noresize {
  resize: none;
}
